<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Dear {{name}}<p>
    <p>
        Thank you for your interest in joining the SLIIT FOSS Community, a group of individuals who promote the use of Free and Open Source Software. We are excited to see your enthusiasm for FOSS and are pleased to invite you to take the next step in becoming a member of our community.
        
        To get to know you better, we have prepared a few tasks for you to complete. Please select your field of interest from the options below, and complete the task mentioned in the repository link. You are welcome to complete tasks in more than one field if you are interested.
    </p>
    <br/>
    <a href="{{link}}">sliit-foss/candidate-assessments (github.com)</a>   
    <br/>
    <p>
        We would also like to know why you are interested in FOSS, so please include this information in your reply to this email. Additionally, please ensure that you submit your completed tasks in accordance with the guidelines provided in the repository within one week of receiving this email.
        We are looking forward to having you onboard as a member of our community!     
    </p>
    <p>Sincerely,</p>
    <p>SLIIT FOSS Community</p>

</body>
</html>