.card-box {
  background-color: var(--card-color-secondary);
  padding: 40px 20px 37px;
  border-radius: 30px;
  width: 100% !important;
  font-size: 32px !important;
}

.card-box:hover {
  background-color: #5a5af3;
  color: var(--white);
}

.card-icon {
  font-size: 60px !important;
}

.card-num {
  font-weight: bold;
}

.card-title {
  font-size: 25px;
  font-weight: bold;
}
