.link-1 a:hover, .link-2 a:hover{
    color:#5A5AF3;
}

h1{
    font-family: 'roboto';
    font-size: 3rem;
    color:#5A5AF3;
}

p{
    font-family: 'roboto';
    line-height: 2rem;
    font-size: 1.3rem;
    color: #666;


}

.content{
    padding: 0 120px;
}



/* nav */

nav ul{
    list-style-type: none;
    float: right;
    z-index: 1;
    height: 20px;
    margin-top: -40px;
    
}

nav li{
    display: inline;
    padding-left: 30px;
    font-family: roboto;
    font-weight: bold;
    z-index: 1;
    
    
}
.navbar{
    margin-top: -10px;
    position:fixed;
    overflow: hidden;
    width: 100%;
    background-color: white;
    z-index: 1;
    margin-left: -6px;
    transition: all 80ms ease-out;
}


nav{
   
    float: right;
    width: 100%;
    padding-right: 100px;
    
    height: 10px;
    
}




nav a{
    text-decoration:none;
    color:#5A5AF3;
    z-index: 1;
}

.navbar.scrolled{
    box-shadow: 0px 1px 22px rgb(153, 153, 153);
    z-index: 1;
}

.darklogo.fadeIn{
    opacity: 0% ;
    
}



/* about */
.flex{
    display:flex;
}

.about.left{
    width: 70%;
}

.right img{
    width: 70%;
    padding-left: 70px;
    
    
}

button{
    background-color: #5A5AF3;
    
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    font-family: 'roboto';
    font-size: 1.3rem;
}

button a{
    text-decoration: none;
    color: white;
}

.work{
    background-color: #f4f4f4;
    
}

.center{
    text-align: center;
}

/* Mascot */

.mascot img{
    width: 20%;
    

}


    
.Nif{
    margin-right: 300px;
    width: 80%;
    margin-left: -200px;
    
}

/* card section */
.card, .card-3{
    background-color: #f1f1f1;
    padding: 30px;
    margin-right: 30px; 
    border-radius: 30px;
    color: rgb(0, 0, 0);
    line-height: 0.1rem;
    font-size: 1.5rem;
    padding-bottom: 40px;
    font-family: 'roboto';
    width: 40%;

}



.card:hover, .fa-video:hover, .fa-github:hover, .fa-user:hover , .fa-calendar:hover, .active{
    background-color: #5A5AF3;
    color: white;
    color: white !important;
}






/* Event */
h2{
    font-family: 'roboto';
}

.small p{
    display: inline;
    font-size:0.9rem;
    
}

.container{
    width: 300px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgb(204, 204, 204);
    word-wrap: break-word; 
    padding-bottom: 25px;
    background-color: white;
    
    
}

.container:hover{
    filter: drop-shadow(2px 2px 8px #d9d9da);
}

.slider{
    
    height: 700px;
    margin-left: 5px;
    position: relative;
    width: 95%;
    display: grid;
    place-items: center;
    overflow: hidden;
    
}
/* slide track width = total number of slides (9 x 2 = 18) x individual slide width(250px) */
.slide-track{
    display: flex;
    width: calc(300px * 9); 
    animation: scroll 40s linear infinite;
}

.slide-track:hover{
    animation-play-state: paused;
}


/* Moves the slide track leftward (-250px) by half (18images/2 = 9) of its width */
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    
    100%{
        transform: translateX(calc(-250px * 9));
    }
}






.slider::before,.slider::after{
    background: linear-gradient(to right, rgba(168, 118, 10) 20%);
    content:'';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before{
    right: 0;
    top: 0;
}

.slider::after{
    right: 0;
    top: 0;
    transform: rotatez(180deg);
}

.podcast{
    background-image: url(images/podcast-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.badge img{
    margin-top:10px;
    width: 17%;
}

.box{
    background-color: #20a4cc;
   display: inline;
   padding: 3px 14px;
   border-radius: 9px;
    margin-right: 10px;
    color: white;
    
}

/* links */
.links{
    background: url(images/backgrounbd.jpg);
    background-repeat: no-repeat;
    padding-bottom: 30px;
    
}

.link-1, .link-2{
    font-family: roboto;
    color: rgb(228, 228, 228);
}

.link-1 a, .link-2 a{
    text-decoration: none;
    color: rgb(145, 145, 145);
}

.link-2 li{
    padding-left: 50px;
}
.link-1 li, .link-2 li{
    list-style-type: none;
   margin-left: -40px;
   margin-right: 30px;
   padding-top: 10px;
   font-size: 0.8rem;
   white-space: nowrap;
}

.text-1{
    margin-left: 120px;
}

.text-1 p{
    font-size: 1rem;
    width: 40%;
    line-height: 25px;
}

.bold{
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

hr{
    width: 55px; 
    margin-left: 2px; 
    border: 1.4px solid #5A5AF3;
    margin-top: -10px;
}



.text-3 p{
    font-size: 1rem;
    margin-left: 30px;
}

.text-2{
    margin-left: -450px;
}

.social img{
    height:30px;
    padding-right: 15px;
}
/* footer */
footer{
    background-color: black;
    
}

footer, .copy p{
   font-size: 0.9rem;
   padding-left: 150px;
   color: white;
}

.footer-nav a:hover{
    color: #5A5AF3;
}

.footer-nav a{
    text-decoration: none;
    font-family: roboto;
    padding-right: 20px;
    color: white;
    font-size: 0.9rem;
}
.footer-nav{
    margin-left: 30px;
}

.footer-nav li{
    display: inline;
    
    
}

form input{
    padding: 15px;
    margin-left: 30px;
    background-color: rgb(51, 51, 51);
    border: 0;
    color: white;
    text-align: center;
    padding-top: -100px;
}





form .subscribe{
    height:45px;
    font-size: 0.7rem;
    font-weight: bold;
    margin-left: -20px;
    border-radius: 0;
}