.heroTitle {
  margin-top: 1rem;
  font-weight: bold;
  color: var(--purple);
}

.heroDesc {
  font-size: 1rem;
}

.heroImg {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .heroDesc,
  .heroTitle {
    text-align: left !important;
  }
}
